.parent {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}



@media only screen and (min-width: 600px) {
/* Change layout on larger screens */
.div1 {
  width: 25%;
  height: 50%;
}

.div2 {
  width: 50%;
  height: 50%;
}

.div3 {
  width: 50%;
  height: 25%;
}

.div4 {
  width: 100%;
  height: 25%;
}

.div5 {
  width: 100%;
  height: 25%;
}
}
